{
  "$schema": "https://opencode.ai/config.json",
  "instructions": [
    "./profile.yaml"
  ],
  "autoupdate": "notify",
  "default_agent": "opencode-go/deepseek-v4-flash",
  "permission": {
    "git reset": "deny",
    "sudo": "ask",
    "rm -rf": "ask"
  },
  "mcp": {
    "markitdown": {
      "type": "local",
      "command": [
        "uvx",
        "markitdown-mcp"
      ],
      "enabled": false
    },
    "mise": {
      "type": "local",
      "command": [
        "mise",
        "mcp"
      ],
      "enabled": false
    },
    "chrome-devtools": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "chrome-devtools-mcp@latest",
        "--autoConnect",
        "--logFile",
        "/tmp/chrome-devtools-mcp.log",
        "--no-usage-statistics",
        "--no-performance-crux"
      ],
      "enabled": true
    },
    "playwright": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@playwright/mcp@latest"
      ],
      "enabled": false
    },
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "headers": {
        "Authorization": "{{ (bitwarden "item" "Context7 API Key").login.password }}"
      },
      "enabled": true
    }
  },
  "lsp": true,
  "plugin": [
    [
      "@plannotator/opencode@latest",
      {
        "workflow": "plan-agent",
        "planningAgents": [
          "plan",
          "orchestrator"
        ],
      },
    ],
    "@tarquinen/opencode-dcp@latest",
    "opencode-vibeguard",
    "oh-my-opencode-slim"
  ],
  "agent": {
    "build": {
      "disable": true
    },
    "explore": {
      "disable": true
    },
    "general": {
      "disable": true
    },
    "plan": {
      "disable": true
    },
  }
}