env: {{ if eq .hostname "work" }}Linux/Ubuntu (WSL){{ else if eq .hostname "mac" }}macOS{{ else if eq .hostname "niri" }}CachyOS/Arch Niri{{ end }}
shell: {{ if eq .hostname "niri" }}fish{{ else }}zsh{{ end }}
pkg: {{ if eq .hostname "niri" }}[paru, pacman, mise]{{ else }}[brew, mise]{{ end }}
python: uv (do not use pip)
naming:
  code:
    - PascalCase: types
    - UPPER_SNAKE_CASE: const
  files:
    - kebab-case: TS/JS
    - snake_case: py

Important:
  - Current Year: 2026 always use latest information
  - Concise, technical, no preamble
  - Use mise for tool management & global npm pkgs like "mise use node@24" or "mise use -g npm:vercel@latest"
  - never start dev server ask the user to start the dev server and ask user for the dev server live url to use for debugging
  - never make implementation and documentation files only if the user asks

Platform:
  hostname: {{ if eq .hostname "work" }}Linux/Ubuntu (WSL){{ else if eq .hostname "mac" }}macOS{{ else if eq .hostname "niri" }}CachyOS/Arch Niri{{ end }}
  os: {{ if eq .hostname "work" }}Linux/Ubuntu (WSL){{ else if eq .hostname "mac" }}macOS{{ else if eq .hostname "niri" }}CachyOS/Arch Niri{{ end }}