{{ if eq .chezmoi.os "darwin" }}
export OPENSSL_DIR=$(brew --prefix openssl@3)
export ANDROID_HOME="$HOME/Library/Android/sdk"
export PATH=$PATH:"$ANDROID_HOME/platform-tools"
export PATH=$PATH:"$ANDROID_HOME/tools/bin"
export PKG_CONFIG_PATH="$OPENSSL_DIR/lib/pkgconfig"
{{ else if and (eq .hostname "work") (eq .chezmoi.os "linux") }}
export PATH="$HOME/.local/bin:$PATH"
export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
{{ end }}

if command -v mise >/dev/null 2>&1; then
  eval "$(mise activate zsh)"
fi

export PATH="$HOME/.opencode/bin:$PATH"

# p10k instant prompt
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# oh-my-zsh config
if [[ -d "$HOME/.oh-my-zsh" ]]; then
  export ZSH="$HOME/.oh-my-zsh"

  ZSH_THEME="powerlevel10k/powerlevel10k"

  export FZF_BASE=/path/to/fzf/install/dir

  plugins=(git zsh-syntax-highlighting zsh-autocomplete fzf chezmoi brew)
  source "$ZSH/oh-my-zsh.sh"
fi

autoload -Uz compinit
compinit

# p10k config
[[ -f ~/.p10k.zsh ]] && source ~/.p10k.zsh

mkcd() {
  mkdir -p "$1" && cd "$1"
}

mkcode() {
  mkdir -p "$1" && code "$1"
}

cdd() {
  {{ if eq .hostname "work" }}cd ~/developer${1:+/$1}{{ else }}cd ~/Developer${1:+/$1}{{ end }}
}

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias 'chzd'='chezmoi cd'

# Load Angular CLI autocompletion.
if command -v ng >/dev/null 2>&1; then
  source <(ng completion script)
fi

if [ -f "$HOME/.vite-plus/env" ]; then
  . "$HOME/.vite-plus/env"
fi
{{ if and (eq .hostname "work") (eq .chezmoi.os "linux") }}
export BROWSER="$HOME/.local/bin/browser-wsl"
{{ end }}