{{ if eq .chezmoi.os "darwin" }}
if command -v brew >/dev/null 2>&1; then
  export OPENSSL_DIR=$(brew --prefix openssl@3)
  export PKG_CONFIG_PATH="$OPENSSL_DIR/lib/pkgconfig"
fi
export ANDROID_HOME="$HOME/Library/Android/sdk"
export PATH=$PATH:"$ANDROID_HOME/platform-tools"
export PATH=$PATH:"$ANDROID_HOME/tools/bin"
export PKG_CONFIG_PATH="$OPENSSL_DIR/lib/pkgconfig"
{{ else if and (eq .hostname "work") (eq .chezmoi.os "linux") }}
export PATH="$HOME/.local/bin:$PATH"
export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
export BROWSER="$HOME/.local/bin/browser-wsl"
{{ end }}

if command -v mise >/dev/null 2>&1; then
  eval "$(mise activate zsh)"
fi

if [ -f "$HOME/.vite-plus/env" ]; then
  . "$HOME/.vite-plus/env"
fi

export PATH="$HOME/.opencode/bin:$PATH"

# zsh config directory
ZSH_CONFIG_DIR="${HOME}/.zsh"

# Plugin directory
ZSH_PLUGIN_DIR="${ZSH_CONFIG_DIR}/plugin"
[[ -d "${ZSH_PLUGIN_DIR}" ]] || mkdir -p "${ZSH_PLUGIN_DIR}"

# p10k instant prompt
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# powerlevel10k
if [[ -f "${ZSH_PLUGIN_DIR}/powerlevel10k/powerlevel10k.zsh-theme" ]]; then
  source "${ZSH_PLUGIN_DIR}/powerlevel10k/powerlevel10k.zsh-theme"
fi

# p10k config
[[ -f "${ZSH_CONFIG_DIR}/.p10k.zsh" ]] && source "${ZSH_CONFIG_DIR}/.p10k.zsh"

# Completion system
autoload -Uz compinit
compinit

# fzf
if [[ -d "${ZSH_PLUGIN_DIR}/fzf" && -x "${ZSH_PLUGIN_DIR}/fzf/bin/fzf" ]]; then
  export PATH="${ZSH_PLUGIN_DIR}/fzf/bin:$PATH"

  if command -v fzf >/dev/null 2>&1; then
    source <(fzf --zsh)
  fi
fi

# fzf-tab
if [[ -f "${ZSH_PLUGIN_DIR}/fzf-tab/fzf-tab.plugin.zsh" ]]; then
  source "${ZSH_PLUGIN_DIR}/fzf-tab/fzf-tab.plugin.zsh"

  [[ -f "${ZSH_CONFIG_DIR}/.fzf-tab.zsh" ]] && source "${ZSH_CONFIG_DIR}/fzf-tab.zsh"
fi

# zsh-autosuggestions
if [[ -f "${ZSH_PLUGIN_DIR}/zsh-autosuggestions/zsh-autosuggestions.zsh" ]]; then
  source "${ZSH_PLUGIN_DIR}/zsh-autosuggestions/zsh-autosuggestions.zsh"
fi

# zsh-syntax-highlighting
if [[ -f "${ZSH_PLUGIN_DIR}/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh" ]]; then
  source "${ZSH_PLUGIN_DIR}/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
fi

# oh-my-zsh config
# if [[ -d "$HOME/.oh-my-zsh" ]]; then
#   export ZSH="$HOME/.oh-my-zsh"
# 
#   ZSH_THEME="powerlevel10k/powerlevel10k"
# 
#   export FZF_BASE=/path/to/fzf/install/dir
# 
#   plugins=(git zsh-syntax-highlighting zsh-autocomplete fzf chezmoi brew)
#   source "$ZSH/oh-my-zsh.sh"
# fi

[[ -f "${ZSH_CONFIG_DIR}/functions.zsh" ]] && source "${ZSH_CONFIG_DIR}/functions.zsh"
[[ -f "${ZSH_CONFIG_DIR}/alias.zsh" ]] && source "${ZSH_CONFIG_DIR}/alias.zsh"

# Load Angular CLI autocompletion.
if command -v ng >/dev/null 2>&1; then
  if [[ ! -f "$HOME/.cache/ng-completion.zsh" ]]; then
    mkdir -p "$HOME/.cache"
    ng completion script > "$HOME/.cache/ng-completion.zsh"
  fi

  source "$HOME/.cache/ng-completion.zsh"
fi